$login-font-color:#40404c;
$login-font-size:18px;

$dashboard-header-font-size:18px;
$filter-btn-color: #1a9c6c;

$border-color: #D9D9D9;
$main-border-width: 4px;

@mixin bottom-border-style($width,$style,$color) {
	border-bottom: $width $style $color;
}

@mixin main-border-style($width,$style,$color) {
	border: $width $style $color;
}
